.cabeçalho__link {
	color: #808080;
	margin-right: 1.25rem;
	text-decoration: none;
	text-transform: lowercase;
}

.cabeçalho__link--ativo {
	color: #333333;
	font-weight: bold;
}

.cabeçalho__link:last-child{
	margin-right: none;
}

.cabeçalho__link:hover {
	text-decoration: underline;
}